body {
  margin: 0;
  padding: 0;
  background-color: bisque;
  display: block;
}
h1 {
  text-align: center;
  font-size: 120px;
}

img {
  width: 200px;
  height: auto;
}

#photobox {
  align-items: center;
}
